body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header1{
    display: inline-block;
    position: fixed;
    right: 15px;
    top: 10px;  
}
#cuenta{
    display: inline-block;
    width: 45px;
    margin: 5px 5px 0px 0px;
}
.gmail{
    display: inline-block;
    padding: 15px;
    font-size: 1rem;
    color: #0D090A; 
    text-decoration: none;   
    font-family: Arial, sans-serif;
}

.images{
    display: inline-block;
    padding: 15px;
    font-size: 1rem;
    color: #0D090A;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

#logo{
    display: block;
    width: 400px;
    margin: 40px;
}
.border{
    display: flex;
    border: 1px solid #A2AEBB;
    margin: 10px;
    width: 40%;
    border-radius: 40px;
}
#input-search{
    display: inline-block;
    margin: 10px 13px 5px;
    padding: 5px;
    width: 45rem;
    cursor: text;
    border: transparent;
    outline: none;
    font-family: Arial, sans-serif;
    font-size: 1rem;
}
#search{
    display: inline-block;
    margin: 15px;
    padding: 10px;
    font-size: 15px;
    border: whitesmoke;
    cursor: pointer;
}
#lucky{
    display: inline-block;
    margin: 15px;
    padding: 10px;
    font-size: 15px;
    border: whitesmoke;
    cursor: pointer;
}
#links{
    display: inline-block;
    text-decoration: none;
    color: gray;
    margin: 10px;
    font-size: 1rem;
    font-family: Arial, sans-serif;
}
#lupa{
    margin: 10px;
    width: 30px;
    height: 30px;
}
.footer{
    display: inline-block;
    border-top: 1px solid darkgrey;
    background-color: whitesmoke;
    position: fixed;
    bottom: 0;
    width: 100%;
}